<style>
    h1{
        color: rgb(13, 227, 234);
    }
    div{
       max-width: 350px;
       margin: auto;
       margin-right: auto;
       background-color: rgb(245, 248, 251);
       height: fit-content;
       padding-left: 20px;
       border-radius: 20px;
    }
    h3,p{
        display: inline;
    }
    h3{
      font-family: monospace;
    }
    p{
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    }
    
    </style>
